html, body{
	height: 100%;
	/*
	width: 960px;
	*/
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 0px 0px 0px 75px;

}
nav ul li {
	display: inline-block;
	text-align: center; 
	border-right: 1px solid #a39d9d;
	padding: 0px 10px 0px 0px;
	margin: 15px 0px 15px 0px;

}
nav ul li a {
	text-decoration: none;
	color: #777777;
}

nav h1 {
	margin: 0px 0px 0px 75px;
	display: inline-block;
	font-size: 24px;

}

nav {
	background-color: #ffffff;
	border-bottom: 1px solid  #a39d9d;
}

body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin: 0px;
	background-image: url("../images/paper_3.png");
	display: flex;
	flex-direction: column;


}

footer {
	background-color: #666666;
	color: #ffffff;
	font-size: 11px;
	text-align: center;
	padding: 25px 0px 25px 0px;
	border-top: 5px solid #3284BF;
	/*
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	*/
}


.headerStyle {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.nameHeader {
	width: 230px;
	background-color: #3284BF;
	padding: 20px 0px 20px 0px;
	text-align: center;
	color: #ffffff;
	margin-right: 300px;
}

.sectionHeader{
	font-size: 24px;
}

.connectBox {
	display: inline-block;
	margin-left: 50px;
	background-color: #ffffff;
	text-align: center;
	padding: 20px;
	position: absolute;
	top: 93px;
	width: 200px;
}

.socialMediaBtn {
	height: 50px;
	width: 50px;

}

.contentHeader {
	color: #3284BF;
	border-bottom: 2px solid #dfdfdf;
	padding-bottom: 15px;
	margin: 0px 0px 20px 0px;


}

.content {
  flex: 1 0 auto;

}

/* 
 *About Me Page
 */
.profileImg {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
}

.aboutMeSection p {
	line-height:22px;
}


.aboutMeSection {
	background-color: #ffffff;
	padding: 20px 20px 20px 20px;
	display: inline-block;
	margin-left: 75px;
	margin-top: 25px;
	width: 500px;
	font-size: 14px;
	font-weight: lighter;
}

aside h1 {
	font-size: 18px;
}

#navItem-1:hover,#navItem-2:hover,#navItem-3:hover {
	color: #3284BF;
	font-weight: bold;
}



/*
 *Contact Form Page
 */
form label {
	padding: 10px 0px 5px 0px;
	display: block;
}

form input {
	height: 20px;
	width: 100%;
}

.contactSection {

	display: inline-block;
	background-color: #ffffff;
	margin: 25px 0px 0px 75px;
	padding: 20px;
	width: 500px;

}

#submitBtn {
	background-color: #3284BF;
	border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#submitBtn:hover {
	background-color: #5a9ccb;
}



/*
 *Porfolio Form Page
 */
.portfolioSection {

	display: inline-block;
	background-color: #ffffff;
	margin: 25px 0px 0px 75px;
	padding: 20px;
	width: 500px;


}

.portfolioImg {
	width: 225px;
	height: 160px;

}

.portfolioImg:hover {
	border: 3px solid #3284BF;
}

.portfolioItem{
	display: inline-block;
	/*
	margin: 15px 0px 15px 0px;
	*/
}


.portfolioCol2 {
	float: right;

}

.portfolioLabel {
	background-color: #3284BF;
	color: #ffffff;
	text-align: center;
	padding: 12px 0px 12px 0px;
	font-size: 18px;
	position: relative;
	bottom: 60px;


}
/*
MEDIA Breakpoints
*/
@media screen and (max-width: 980px) {
	/*
	About Me Section up to 980px
	*/
	.profileImg {
		width: 300px;
		height: 300px;
		float: none;
		margin: 0px 0px 20px 0px;

	}

	.aboutMeSection {
		width: 300px;
		margin-bottom: 25px;
	}

	.nameHeader {
		margin-right: 100px;
		width: 230px;
	}
}

@media screen and (max-width: 768px) {
	/*
	About Me Section upto 768px
	*/
	nav ul {
	    margin: 0px 20px 0px 0px;
	    float: right;
	}

	nav h1 {
		margin: 0px 0px 0px 20px;
	}
	.profileImg {
		width: 200px;
		height: 200px;
		float: left;
		margin: 0px 20px 0px 0px;

	}

	.aboutMeSection {
		width: 88%;
		display: block;
		margin: 30px 0px 20px 20px;

	}

	.nameHeader {
		margin-right: 0px;
		width: 230px;
	}
	.connectBox {
		display: block;
		position: static;
		margin: 0px 0px 20px 20px;
		text-align: left;
		width: 88%;
	}

}


@media screen and (max-width: 640px) {
	/*
	About Me Section upto 640px
	*/

	nav ul {
	    margin: 0px 0px 0px 0px;
	    float: none;
	    width: 100%;
/*
	    Need to set width in order to
	    break it out for navigation items
*/
	}


/*	Set min width to prevent uncontrolled shrinkage*/
	nav {
		min-width: 465px;
	}

	nav h1 {
		margin: 0px 0px 0px 0px;
		display: block;
	}

	nav ul li {

	    padding: 0px 0px 0px 0px;
	    display: inline;

	}
	nav ul li a {
	    display: inline-block;
	    width: 31%;
	    padding: 15px 0px 15px 0px;
	}

	.main-section-container {
		padding: 25px 20px 25px 20px;
		min-width: 450px;
	}
	.profileImg {
		width: 200px;
		height: 200px;
		float: none;
	    display: block;
	    margin: 0 auto;

	}

	.aboutMeSection {
		width: 85%;
		display: block;
		margin: 0px 0px 0px 0px;

	}

	.nameHeader {
		margin-right: 0px;
		width: 100%;
	}
	.connectBox {
		display: block;
		position: static;
		text-align: left;
		width: 85%;
		margin: 20px 0px 0px 0px;s
	}
	#about-me-p1{
		margin-top: 20px;
	}
}
